# 2100 Python basis

Defining Data Types

In [98]:

#Types of Variables, There are 4- Number, string, Boolean, and None
#Number has three more types - int, float and complex
a=35000
b=-985.0563
c=6+3j
d=-7-4j
e= None
f="Python_with_data science"
g=(a<7500)
print('Variable a is:',a )
print(type(a))
print()                #here print() will make one line gap...
print('Variable b is:' ,b)
print(type(b))
print()
print('Variable c is:' ,c)
print(type(c))
print()
print('Variable d is:' ,d)
print(type(d))
print()
print('Variable e is:' ,e)
print(type(e))
print()
print('Variable f is:' ,f)
print(type(f))
print()
print('Variable g is:', g)
print(type(g))

Variable a is: 35000
<class 'int'>

Variable b is: -985.0563
<class 'float'>

Variable c is: (6+3j)
<class 'complex'>

Variable d is: (-7-4j)
<class 'complex'>

Variable e is: None
<class 'NoneType'>

Variable f is: Python_with_data science
<class 'str'>

Variable g is: False
<class 'bool'>

In [3]:
#Assignment operator
p=15
q=3
r=p+q
print(r)
r+=q          #This operation is similar to r=r+q
print(r)
r-=q
print(r)
r*=q
print(r)
r/=q
print(r)
r**=q
print(r)
r%=q
print(r)
r//=q
print(r)
print()

18
21
18
54
18.0
5832.0
0.0
0.0

In [1]:
#Arithmetic operators
a=25
b=5
a1=a+b
print("a1=",a1)
a2=a-b
print("a2=",a2)
a3=a*b
print("a3=",a3)
a4=a/b
print("a4=",a4)
a=36
b=7
a5=a/b
print("a5=",a5)
a6=a%b
print('a6=',a6)
a7=a//b
print('a7=',a7)
a8=a**b
print('a8=',a8)
print()

a1= 30
a2= 20
a3= 125
a4= 5.0
a5= 5.142857142857143
a6= 1
a7= 5
a8= 78364164096

In [8]:
 #comparision operators:
print('Check if a>b: ',a>b)
print('Check if a<b: ',a<b)
print('Check if a<=b: ',a<=b)
print('Check if a>=b: ',a>=b)
print('Check if a==b: ',a==b)
print('Check if a!=b: ',a!=b)
print()
print (a)
print (b)

Check if a>b:  True
Check if a<b:  False
Check if a<=b:  False
Check if a>=b:  True
Check if a==b:  False
Check if a!=b:  True

36
7

In [9]:
#Logical Operators                                        
a=5
b=4
print("Logical AND is:", a&b)
print("Logical OR is:", a|b)
print('Negation of a is:', ~a)
print('Negate b as:',~b)
print()

Logical AND is: 4
Logical OR is: 5
Negation of a is: -6
Negate b as: -5

In [10]:
# Comparision operator
a=25
b=15
r1=(a==b)
r2=(a!=b)
r3=(a>b)
r4=(a<b)
r5=(a>=b)
r6=(a<=b)
print('The comparision values are : ')
print("r1:",r1)
print('r2:',r2)
print('r3:',r3)
print('r4:',r4)
print('r5:',r5)
print('r6:',r6)
print()

The comparision values are :
r1: False
r2: True
r3: True
r4: False
r5: True
r6: False

In [12]:
#Bit wise Operators
a=6
b=4
r1=a&b
print('Bitwise AND =', r1)
r1=a|b
print('Bitwise OR =', r1)
r1=a^b
print('Bitwise XOR =', r1)
r1=~a
print('Negate A =', r1)

Bitwise AND = 4
Bitwise OR = 6
Bitwise XOR = 2
Negate A = -7

In [14]:
x='python Data science'          #Identity operation
print('z' is not x)
print('D' in x)               #Membership operator
v='Republic INDIA'            # This is for indentity operation, Here v is not identical to x, so it is false
print(v is x)
print('INDIA' in v)
print('india' in v)

True
True
False
True
False

In [19]:
#IF statements
a=50
b=4
if(a<b):
    print("Hello world")
print("Good Morning")

Good Morning

In [20]:
#IF - ELSE statement
age=35
if(age>=18):
    print('valid for Voting..')
else:
    print('Minor still..')

valid for Voting..

In [22]:
#If-elif statements
def score(marks):
    if(marks>=90):
        print("Grade A+")
    elif(marks>=75):
        print("Grade A")
    elif(marks>=55):
        print('Grade B')
    elif(marks>=35):
        print('Grade C')
    else:
        print("Failed result...")
print(score(56))

Grade B
None

In [24]:
#For loop
#simple for loop
N= [1,2,3,4,9,7,6,5]
sum=0
for i in N:
    sum=sum+i
    print(sum)
print('Total of the Numbers in the list N is = ', sum)

1
3
6
10
19
26
32
37
Total of the Numbers in the list N is =  37

In [26]:
#WHILE loop
counter=1
while counter<5:
    print('Inside loop printing')
    counter+=1
    if(counter==5):
        print('Control Inside if')
else: print('Control is in else clause')

Inside loop printing
Inside loop printing
Inside loop printing
Inside loop printing
Control Inside if
Control is in else clause

In [27]:
#for break statement
for val in "Python and py spark":
    if val=="s":
        break
    print(val)
print("INDIA")
print('end of the statement')

P
y
t
h
o
n

a
n
d

p
y

INDIA
end of the statement

In [29]:
#Continue statement(key word)
var=10
while var>0:
    var-=1
    if var==6:
        continue
    print('Current Position: ',var)
print('Good luck')

Current Position:  9
Current Position:  8
Current Position:  7
Current Position:  5
Current Position:  4
Current Position:  3
Current Position:  2
Current Position:  1
Current Position:  0
Good luck

In [30]:
#pass statement
for letter in 'python and anaconda':
    if letter == 'c':
        pass
        print("Statement inside pass ")
    print("Current letter =", letter)
print("Out of the loop")

Current letter = p
Current letter = y
Current letter = t
Current letter = h
Current letter = o
Current letter = n
Current letter =
Current letter = a
Current letter = n
Current letter = d
Current letter =
Current letter = a
Current letter = n
Current letter = a
Statement inside pass
Current letter = c
Current letter = o
Current letter = n
Current letter = d
Current letter = a
Out of the loop

# Function

In [31]:
#The Range() Function..
a=range(10)
print(a)

range(0, 10)

In [32]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
a1=range(5,125,5)

In [34]:
list(a1)

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120]

In [38]:
#Built in functions 
#This is enumerate()
x1=['py','data','for_loop','while','range','conda','pip',
        'anaconda','pyspark','jupyter']

In [39]:
x2=enumerate(x1)

In [40]:
list(x2)

[(0, 'py'),
 (1, 'data'),
 (2, 'for_loop'),
 (3, 'while'),
 (4, 'range'),
 (5, 'conda'),
 (6, 'pip'),
 (7, 'anaconda'),
 (8, 'pyspark'),
 (9, 'jupyter')]

In [44]:
#Sorted() function
n=[23,0,12,5,1,-56,78,45,6,3,38,100,27,-4,-12,93,37]

In [45]:
sorted(n)

[-56, -12, -4, 0, 1, 3, 5, 6, 12, 23, 27, 37, 38, 45, 78, 93, 100]

In [46]:
s='This is a sorted() example for string..'

In [51]:
sorted(s)          #SOrting begins from whitespace first, 
                    #then pancuations and then letters

[' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '(',
 ')',
 '.',
 '.',
 'T',
 'a',
 'a',
 'd',
 'e',
 'e',
 'e',
 'f',
 'g',
 'h',
 'i',
 'i',
 'i',
 'l',
 'm',
 'n',
 'o',
 'o',
 'p',
 'r',
 'r',
 'r',
 's',
 's',
 's',
 's',
 't',
 't',
 'x']

In [52]:
d=['py','data','jupyter','anaconda','conda','pyplot','hist','kde','spyder','Qt',
  'ANACONDA','JupyterLab','Google','YOUTUBE','netflix','primeVideos']

In [53]:
sorted(d)        #Sorts words with Capital letters first and 
                  #then small letters' words

['ANACONDA',
 'Google',
 'JupyterLab',
 'Qt',
 'YOUTUBE',
 'anaconda',
 'conda',
 'data',
 'hist',
 'jupyter',
 'kde',
 'netflix',
 'primeVideos',
 'py',
 'pyplot',
 'spyder']

In [69]:
#Reversed function
r1=reversed(range(10))
r2=["saran","fog","eat","sofa"]
r3=reversed(r2)
print (list(r3))

['sofa', 'eat', 'fog', 'saran']

In [70]:
list(r1)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [72]:
print(list(reversed(range(15))))

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [73]:
# Simple program for function definition

def first(name):
    print("Hello, " + name + ", Good morning!")
first('Anaconda')

Hello, Anaconda, Good morning!

In [75]:
# Program to illustrate the use of user-defined functions

def add_numbers(x,y):
    sum = x + y
    return sum

num1 = 5
num2 = 6

print("The sum is", add_numbers(num1, num2))

The sum is 11

In [77]:
# Python Program to find the factors of a number

# define a function
# This function takes a number and prints the factors

def print_factors(x):
    print("The dividing factors of",x,"are:")
    for i in range(1, x + 1):
        if x % i == 0:
            print(i)
num = int(input("Enter a number: "))
print_factors(num)

Enter a number: 8
The dividing factors of 8 are:
1
2
4
8

In [90]:
#Lambda function
x = lambda a : a + 10
print(x(5))

15

In [97]:
def mylambda(n):
   return lambda a : a * n

r1 = mylambda(2)
r2 = mylambda(5)

print('r1:',r1(11))
print('r2:',r2(25))

r1: 22
r2: 125

#Data Type

In [100]:
#comprehensions 
# Constructing output list WITHOUT 
# Using List comprehensions 
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7] 
  
output_list = [] 
  
# Using loop for constructing output list 
for var in input_list: 
    if var % 2 == 0: 
        output_list.append(var) 
  
print("Output List using for loop:", output_list)

Output List using for loop: [2, 4, 4, 6]

#Data structures

In [102]:
#data structure in python
#List creation
animal=['tiger','lion','dog','elephant','cat','horse','leopard','bear']
print(type(animal))
print(animal[0:5])
print(animal[:4])
print(animal[5:])
animal.append('cow')    #Adds at the end of list
print(animal)
animal[2]='yack'        #'dog' is replaced by yack
print(animal)
print()

<class 'list'>
['tiger', 'lion', 'dog', 'elephant', 'cat']
['tiger', 'lion', 'dog', 'elephant']
['horse', 'leopard', 'bear']
['tiger', 'lion', 'dog', 'elephant', 'cat', 'horse', 'leopard', 'bear', 'cow']
['tiger', 'lion', 'yack', 'elephant', 'cat', 'horse', 'leopard', 'bear', 'cow']

In [104]:
#tuple creation 
birds=('peacock','hen','kukoo','parrort','pigeon','squirel','Hummingbird')
print(birds)
print(type(birds))
print(birds[2:6])
#birds.append('owl')   #this will show error since tuple cannot be modified..- AttributeError Traceback (most recent call last) <ipython-input-51-15de4f7748ff> in <module> ----> 1 birds.append('owl') AttributeError: 'tuple' object has no attribute 'append'
print()

('peacock', 'hen', 'kukoo', 'parrort', 'pigeon', 'squirel', 'Hummingbird')
<class 'tuple'>
('kukoo', 'parrort', 'pigeon', 'squirel')

In [106]:
#Set Operation
states1=set(['karnataka','tamilNadu','kerala','Assam','Maharashtra','HimachalPradesh','Rajastan','Gujarat','Punjab','Haryana'])
states2=set(['madhya pradesh','sikkim','Arunachal','Andra','West bengal','karnataka','Assam','Punjab'])
print(states1)
print()
print(states2)
print()
print(type(states1))
print(type(states2))
common=(states1&states2)      #performing AND(intersection) operation, Which gives common values of both sets
print(common)
print()
Union=(states1|states2) #Performing OR(Union) operation which gives combined values...
print(type(Union))
print(Union)
print()
capitals=set(['Bengaluru','chennai','Trivendram','Guohati','Mumbai','Kolkata','Jaipur','GhandhiNagar','Chandighar','Chandighar'])
a=zip(states1,capitals)
print(list(a))
print()

{'Punjab', 'Assam', 'kerala', 'HimachalPradesh', 'Maharashtra', 'Haryana', 'tamilNadu', 'Gujarat', 'Rajastan', 'karnataka'}

{'Punjab', 'Assam', 'Andra', 'West bengal', 'Arunachal', 'madhya pradesh', 'sikkim', 'karnataka'}

<class 'set'>
<class 'set'>
{'Assam', 'Punjab', 'karnataka'}

<class 'set'>
{'Punjab', 'sikkim', 'Assam', 'kerala', 'HimachalPradesh', 'Maharashtra', 'Haryana', 'Andra', 'tamilNadu', 'West bengal', 'Arunachal', 'madhya pradesh', 'Gujarat', 'Rajastan', 'karnataka'}

[('Punjab', 'Kolkata'), ('Assam', 'Bengaluru'), ('kerala', 'Trivendram'), ('HimachalPradesh', 'Jaipur'), ('Maharashtra', 'Chandighar'), ('Haryana', 'chennai'), ('tamilNadu', 'GhandhiNagar'), ('Gujarat', 'Guohati'), ('Rajastan', 'Mumbai')]

In [107]:
#Dictionary Operation
python=dict({'subject':['basics','fileI/O','DataClean','DataManip','DataImport','DataAnalysis','DAtaVisualize','DataReport'],
           'Application':['Netflix','Google','Webscripting','Maths','Science','Flipcart','Amazon','ebay']}
           )
print(type(python))
print()
print(python)

<class 'dict'>

{'subject': ['basics', 'fileI/O', 'DataClean', 'DataManip', 'DataImport', 'DataAnalysis', 'DAtaVisualize', 'DataReport'], 'Application': ['Netflix', 'Google', 'Webscripting', 'Maths', 'Science', 'Flipcart', 'Amazon', 'ebay']}

# Mathematical computing basics

In [108]:
# ceil() and floor() 
  
# importing "math" for mathematical operations 
import math 
  
a = 2.3
  
# returning the ceil of 2.3 
print ("The ceil of 2.3 is : ", end="") 
print (math.ceil(a)) 
  
# returning the floor of 2.3 
print ("The floor of 2.3 is : ", end="") 
print (math.floor(a))

The ceil of 2.3 is : 3
The floor of 2.3 is : 2

In [109]:
# fabs() and factorial() 
  
# importing "math" for mathematical operations 
import math 
  
a = -10
  
b= 5
  
# returning the absolute value. 
print ("The absolute value of -10 is : ", end="") 
print (math.fabs(a)) 
  
# returning the factorial of 5 
print ("The factorial of 5 is : ", end="") 
print (math.factorial(b))

The absolute value of -10 is : 10.0
The factorial of 5 is : 120

In [ ]:
# copysign() and gcd() 
  
# importing "math" for mathematical operations 
import math 
  
a = -10
b = 5.5
c = 15
d = 5
  
# returning the copysigned value. 
print ("The copysigned value of -10 and 5.5 is : ", end="") 
print (math.copysign(5.5, -10)) 
  
# returning the gcd of 15 and 5 
print ("The gcd of 5 and 15 is : ", end="") 
print (math.gcd(5,15))